@import './variables.scss';
  .btn {
  width: 95px;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  color: $color-deepGrey;

  &.confirm {
    background: $bg-blue;
    color: $color-white;
  }

  &.reset {
    background: $bg-blue;
    color: $color-white;
    border-radius: 2px;
  }
}
.input246{
  width:246px;
  height:32px;
}
.input134{
  width:134px;
  height:32px;
}
