* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
  'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;

  background: #353535;
  background-size: 1600px 1180px;
  color: #fff;
  /* min-height: calc(100vh - 645px); */
  overflow-y: scroll;
  /* padding-bottom: 645px; */
  position: relative;
}

html,
body,#app {
  height: 100%;
  width:100%;
  overflow-x:hidden;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
ol, ul{
  list-style: none;
}
