
$bg-white:rgba(220,223,230,1);
$bg-deepWhite:rgba(255,255,255,1);
$bg-blue:rgba(83,118,255,1);
$bg-isCheck:rgba(229, 237, 255, 1);
$bg-grey:rgba(245,246,250,1);


$border-white:rgba(220,223,230,1);
$border-blue:rgba(83,118,255,1);
$border-input:rgba(230,233,240,1);

$shadow-deepBlack:rgba(0,0,0,0.06);

$color-white:rgba(255,255,255,1);
$color-blue:rgba(83,118,255,1);
$color-grey:rgba(89,102,137,1);
$color-deepGrey:rgba(50,62,97,1);
$color-label:rgba(163,173,200,1);
$color-cancel:rgba(50,62,97,1);
$color-error:rgba(245,108,108,1);
$color-refuse:rgba(250,85,85,1);
$color-star:#F56C6C;



$error-tip:rgba(255,239,240,1);

