@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/common.scss";

.login-wrap {
  width: 1200px;
  height:auto;
  position: relative;
  margin: 0 auto;

 .content-container-left{
    width: 410px;
    float:left;
    min-height: 360px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,.08);
    margin: 40px 20px 0 20px;
    box-sizing: border-box;
    padding: 15px;
   .title{
     margin: 0px auto 40px auto;
     text-align: center;
     color: #505458;
   }
   //.loginForm{
   //  margin-top: 78px;
   //}
  }
  .content-container-right{
    width: 490px;
    height: 360px;
    float: left;
    margin-top: 40px;
    /* margin: 40px 20px 0 20px; */
    //box-shadow: 0 0 6px rgba(0,0,0,.08);
    img{
      width: 480px;
      height: 360px;
    }
  }
}

.header{
  border-bottom: 1px solid #e5e5e5;
  padding: 50px 0 21px;
  height: auto;
  text-align: left;
  .header-logo{
    float: left;
    width: 70px;
    height: 41px;
    position: relative;
    background: url(../../../assets/logo.png) no-repeat;
    background-size: cover;
  }
  .header-title{
    position: relative;
    top: 7px;
    font-size: 16px;
    color: #333;
    padding-left: 10px;
    margin: 0 100px 0 80px;
    border-left: 1px solid #e8e8e8;
  }
}

.input264 {
  width: 264px;
  height:30px;
}
.el-textarea {
  width: 320px;
}
