@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/common.scss";
.regist-wrap {
  width: 100%;
  .header{
    border-bottom: 1px solid #e5e5e5;
    padding: 50px 0 21px;
    height: auto;
    text-align: left;
    margin: 0 auto;
    width: 1200px;
    .header-logo{
      float: left;
      width: 70px;
      height: 41px;
      position: relative;
      background: url(../../../assets/images/timg.jpg) no-repeat;
      background-size: 100% 100% ;
    }
    .header-title{
      position: relative;
      top: 7px;
      font-size: 16px;
      color: #333;
      padding-left: 10px;
      margin: 0 100px 0 80px;
      border-left: 1px solid #e8e8e8;
    }
  }

  .register-form{
    position: relative;
    width: 750px;
    height: 644px;
    background: rgba(237,213,163,1);
    //opacity: 0.49829999999999997;
    border: 1px solid rgba(217,177,95,1);
    margin: 40px auto;
    .divide-line{
      width:100%;
      height:3px;
      opacity:0.16;
      margin: 30px 0;
      border:1px solid rgba(35,93,52,1);
    }
  }
  .register-ruleForm{
    padding: 20px;
    width: 415px;
    margin: 0 auto;
  }
}
